@import "tailwindcss";

@theme {
  --font-barlow: "var(--font-barlow)";
  --font-zilla: "var(--font-zilla)";
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-accent: #8fb78f;
  --color-accent2: #16274c;
  --color-background: #eeeeee;
  --breakpoint-2xl: 90rem;
}

